In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('/Users/vero/Documents/TRY DATASETS/COVID19_cases.csv')
data.head(5)

,_id,Assigned_ID,Outbreak Associated,Age Group,Neighbourhood Name,FSA,Source of Infection,Classification,Episode Date,Reported Date,Client Gender,Outcome,Currently Hospitalized,Currently in ICU,Currently Intubated,Ever Hospitalized,Ever in ICU,Ever Intubated
0,3570917,1,Sporadic,50 to 59 Years,Willowdale East,M2N,Travel,CONFIRMED,2020-01-22,2020-01-23,FEMALE,RESOLVED,No,No,No,No,No,No
1,3570918,2,Sporadic,50 to 59 Years,Willowdale East,M2N,Travel,CONFIRMED,2020-01-21,2020-01-23,MALE,RESOLVED,No,No,No,Yes,No,No
2,3570919,3,Sporadic,20 to 29 Years,Parkwoods-Donalda,M3A,Travel,CONFIRMED,2020-02-05,2020-02-21,FEMALE,RESOLVED,No,No,No,No,No,No
3,3570920,4,Sporadic,60 to 69 Years,Church-Yonge Corridor,M4W,Travel,CONFIRMED,2020-02-16,2020-02-25,FEMALE,RESOLVED,No,No,No,No,No,No
4,3570921,5,Sporadic,60 to 69 Years,Church-Yonge Corridor,M4W,Travel,CONFIRMED,2020-02-20,2020-02-26,MALE,RESOLVED,No,No,No,No,No,No

In [3]:
# Check data type for each column, non-null count
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170928 entries, 0 to 170927
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   _id                     170928 non-null  int64
 1   Assigned_ID             170928 non-null  int64
 2   Outbreak Associated     170928 non-null  object
 3   Age Group               170835 non-null  object
 4   Neighbourhood Name      168160 non-null  object
 5   FSA                     169578 non-null  object
 6   Source of Infection     170928 non-null  object
 7   Classification          170928 non-null  object
 8   Episode Date            170928 non-null  object
 9   Reported Date           170928 non-null  object
 10  Client Gender           170928 non-null  object
 11  Outcome                 170928 non-null  object
 12  Currently Hospitalized  170928 non-null  object
 13  Currently in ICU        170928 non-null  object
 14  Currently Intubated     170928 non-null  object
 15  Ever Hospitalized       170928 non-null  object
 16  Ever in ICU             170928 non-null  object
 17  Ever Intubated          170928 non-null  object
dtypes: int64(2), object(16)
memory usage: 23.5+ MB

In [4]:
#Describe data set
data.describe()

                _id    Assigned_ID
count  1.709280e+05  170928.000000
mean   3.656380e+06   88547.952846
std    4.934281e+04   50969.944161
min    3.570917e+06       1.000000
25%    3.613649e+06   44433.750000
50%    3.656380e+06   88633.500000
75%    3.699112e+06  132823.250000
max    3.741844e+06  176557.000000

In [6]:
#Drop null values for Age Group, Neighbourhood Name and FSA
data_clean = data.dropna(subset=['Age Group'])
data_clean = data_clean.dropna(subset=['Neighbourhood Name'])
data_clean = data_clean.dropna(subset=['FSA'])
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168100 entries, 0 to 170927
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   _id                     168100 non-null  int64
 1   Assigned_ID             168100 non-null  int64
 2   Outbreak Associated     168100 non-null  object
 3   Age Group               168100 non-null  object
 4   Neighbourhood Name      168100 non-null  object
 5   FSA                     168100 non-null  object
 6   Source of Infection     168100 non-null  object
 7   Classification          168100 non-null  object
 8   Episode Date            168100 non-null  object
 9   Reported Date           168100 non-null  object
 10  Client Gender           168100 non-null  object
 11  Outcome                 168100 non-null  object
 12  Currently Hospitalized  168100 non-null  object
 13  Currently in ICU        168100 non-null  object
 14  Currently Intubated     168100 non-null  object
 15  Ever Hospitalized       168100 non-null  object
 16  Ever in ICU             168100 non-null  object
 17  Ever Intubated          168100 non-null  object
dtypes: int64(2), object(16)
memory usage: 24.4+ MB

In [6]:
# Show unique values in Outcome
sorted(data_clean['Outcome'].unique())

['ACTIVE', 'FATAL', 'RESOLVED']

In [7]:
# Show unique values in Age
sorted(data_clean['Age Group'].unique())

['19 and younger',
 '20 to 29 Years',
 '30 to 39 Years',
 '40 to 49 Years',
 '50 to 59 Years',
 '60 to 69 Years',
 '70 to 79 Years',
 '80 to 89 Years',
 '90 and older']

In [8]:
# Show unique values in Ever Hospitalized
sorted(data_clean['Ever Hospitalized'].unique())

['No', 'Yes']

In [9]:
# Show unique values in Ever Hospitalized in ICU
sorted(data_clean['Ever in ICU'].unique())

['No', 'Yes']

In [10]:
# Check number of deaths for age group '30 to 39 Years'
df_1 = pd.DataFrame(data_clean[['Age Group','Outcome','Ever Hospitalized','Ever in ICU']])
df_1 = df_1[df_1["Age Group"] == "30 to 39 Years"]
age_count = df_1.count()
age_count

Age Group            28918
Outcome              28918
Ever Hospitalized    28918
Ever in ICU          28918
dtype: int64

In [11]:
# Count number of deaths for age group '30 to 39 Years'
deaths = df_1[df_1["Outcome"] == "FATAL"]
deaths_count = deaths.count()
deaths_count

Age Group            23
Outcome              23
Ever Hospitalized    23
Ever in ICU          23
dtype: int64

In [12]:
# Count number of hospitalizations for age group '30 to 39 Years'
hosp = df_1[df_1["Ever Hospitalized"] == "Yes"]
hosp_count = hosp.count()
hosp_count

Age Group            622
Outcome              622
Ever Hospitalized    622
Ever in ICU          622
dtype: int64

In [13]:
# Count number of hospitalizations ICU on for age group '30 to 39 Years'
hosp = df_1[df_1["Ever in ICU"] == "Yes"]
hosp_count = hosp.count()
hosp_count

Age Group            100
Outcome              100
Ever Hospitalized    100
Ever in ICU          100
dtype: int64

In [14]:
# Number of records in your dataset
total = len(data_clean)
total

168100

In [15]:
# Toronto Public Health since the first case was reported in January 2020 - as for August 3, 2021
# Percentage of deaths for age group '30 to 39 Years'
23/168100

0.00013682331945270672

In [16]:
# Percentage of hospitalizations for age group '30 to 39 Years'
622/168100

0.003700178465199286

In [17]:
# Percentage of sick people for age group '30 to 39 Years'
28918/168100

0.17202855443188578

In [21]:
# Percentage of hospitalizations with ICU for age group '30 to 39 Years'
100/168100

0.000594883997620464

In [7]:
#Download data set in .csv file
data_clean.to_csv('COVID_cases_Toronto_clean.csv')